body {
  background-color: #080f0f;
  color: #eff2c0;
  font-family: "Rock Salt", cursive;
}

.container {
  width: 80%;
  margin: auto;
  background-color: #6a5837;
  padding: 50px;
}

.image-container {
  text-align: center;
}

.image {
  width: auto;
  border-radius: 80%;
  height: 600px;
}

div > div {
  margin: auto;
}

.name {
  text-align: center;
}

.name > h1 {
  font-size: 600%;
}

.projects {
  text-align: center;
  background-color: #322f20;
  width: 100%;
}

.projects > h2 {
  font-family: "Rock Salt", cursive;
  font-size: 500%;
}

.project-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}

.project-card > div {
  background-color: #fe5f00;
  margin: 20px;
  height: 500px;
  width: auto;
  text-align: center;
}
